################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/

# Build output
bin/
obj/

# User-specific files
*.user
*.suo

# Cache / temp files
*.cache
*.log
/bin/Debug/net8.0/AquaSphere.dll
/bin/Debug/net8.0/AquaSphere.exe
/bin/Debug/net8.0/AquaSphere.pdb
/obj/Debug/net8.0/AquaSphere.genruntimeconfig.cache
/bin/Debug/net8.0/AquaSphere.staticwebassets.endpoints.json
/bin/Debug/net8.0/AquaSphere.staticwebassets.runtime.json
/AquaSphere.csproj
/clive_database.db
/obj/AquaSphere.csproj.nuget.dgspec.json
/obj/Debug/net8.0/ApiEndpoints.json
/obj/Debug/net8.0/apphost.exe
/obj/Debug/net8.0/AquaSphere.csproj.FileListAbsolute.txt
/obj/Debug/net8.0/AquaSphere.dll
/obj/Debug/net8.0/AquaSphere.pdb
/obj/Debug/net8.0/AquaSphere.sourcelink.json
/obj/Debug/net8.0/ref/AquaSphere.dll
/obj/Debug/net8.0/refint/AquaSphere.dll
/obj/Debug/net8.0/rjimswa.dswa.cache.json
/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/obj/Debug/net8.0/staticwebassets.build.json
/obj/Debug/net8.0/staticwebassets.build.json.cache
/obj/Debug/net8.0/staticwebassets.development.json
/obj/project.assets.json
/obj/project.nuget.cache
