################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.gitignore
/clive_database.db
/obj/Debug/net8.0/AquaSphere.AssemblyInfo.cs
/obj/Debug/net8.0/AquaSphere.AssemblyInfoInputs.cache
/obj/Debug/net8.0/AquaSphere.assets.cache
/obj/Debug/net8.0/rpswa.dswa.cache.json
/.gitignore
/.gitignore
