################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.gitignore
/obj/Debug/net8.0/AquaSphere.AssemblyInfo.cs
/obj/Debug/net8.0/AquaSphere.AssemblyInfoInputs.cache
/obj/Debug/net8.0/AquaSphere.assets.cache
/obj/Debug/net8.0/rpswa.dswa.cache.json
/.gitignore
/bin/Debug/net8.0/AquaSphere.staticwebassets.endpoints.json
/bin/Debug/net8.0/AquaSphere.staticwebassets.runtime.json
/clive_database.db
/obj/AquaSphere.csproj.nuget.dgspec.json
/obj/Debug/net8.0/apphost.exe
/obj/Debug/net8.0/AquaSphere.csproj.CoreCompileInputs.cache
/obj/Debug/net8.0/AquaSphere.csproj.FileListAbsolute.txt
/obj/Debug/net8.0/AquaSphere.dll
/obj/Debug/net8.0/AquaSphere.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0/AquaSphere.genruntimeconfig.cache
/obj/Debug/net8.0/AquaSphere.pdb
/obj/Debug/net8.0/AquaSphere.sourcelink.json
/obj/Debug/net8.0/ref/AquaSphere.dll
/obj/Debug/net8.0/refint/AquaSphere.dll
